# Example environment configuration

PORT=3000
MONGODB_URI=mongodb://localhost:27017/server_dev

GOOGLE_CLIENT_ID=replace_me
GOOGLE_CLIENT_SECRET=replace_me
BETTER_AUTH_SECRET=replace_me
BETTER_AUTH_URL=http://localhost:3000

REDIS_URL=redis://localhost:6379
